body {
  background-color: gray;
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  text-align: center;
  font-size: 500%;
  font-family: Arial, Helvetica, sans-serif;
}
/* Style buttons */
.button-container {
  background-color: rgb(119, 133, 148); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 20px 20px; /* Some padding */
  font-size: 16px; /* Set a font size */
  text-align: center;
  margin: 20px;
}
.button1 {
  opacity: 0.5;
}

.button2 {
  opacity: 0.5;
}

.button3 {
  opacity: 0.5;
}

.button4 {
  opacity: 0.5;
}

/* Darker background on mouse-over */
/*.btn:hover {
  background-color: RoyalBlue;
}*/

.center {
  margin: auto;
  width: auto;
  border: 3px solid black;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  row-gap: 10%;
  background-color: #516b80;
}

.vid{
  display: block;
margin: 0 auto;
}

video {
  display: block;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #516b80;
  padding: 10px;
  align-items: center;
  justify-items: center
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-self: stretch;
  
}

.img1 {
  opacity: 0.5;
}

.img2 {
  opacity: 1.0;
}

#myButton1, #myButton2, #myButton3, #myButton4 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#myButton1:hover, #myButton2:hover, #myButton3:hover, #myButton4:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#img1:hover, #img2:hover, #img3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}